.App {
  text-align: center;
}
.moviecoverrow {
  display: flex;
}
.moviecover {
  flex: 1;
}
figure {
  margin: unset;
}
img {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 600px) {
  .moviecoverrow {
    flex-direction: column;
  }
}

