.App {
  text-align: center;
}
.moviecoverrow {
  display: flex;
}
.moviecover {
  flex: 1;
  position: relative;
}
figure {
  margin: unset;
}
img {
  width: 100%;
  display: block;
}
.overlay {
  display:none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; 
  opacity: 0.7;
  background-color: red;
  color: white;
}
.moviecover:hover .overlay {
  display: block;
}

@media only screen and (max-width: 600px) {
  .moviecoverrow {
    flex-direction: column;
  }
}

