.App {
  text-align: center;
}
.moviecoverheader {
  width: auto;
  height: auto;
}
.moviecoverrow {
  display: flex;
}
.moviecover {
  flex: 1;
  position: relative;
  overflow: hidden;
  margin: unset;
}
.overlay {
  transition: bottom cubic-bezier(0.42, 0, 0, 1.5) 1s;
  position: absolute;
  bottom: -100px;
  left: 0px;
  background: red;
  width: 100%;
  opacity: 1;
}
.moviecover:hover .overlay {
  display: block;
  opacity: 0.6;
  bottom: 0;
}
.overlay h1 {
  color: white;
}
img {
  max-width: 100%;
  display: block;
}
@media only screen and (max-width: 600px) {
  .moviecoverrow {
    flex-direction: column;
  }
}

